.grid-container{
    display: grid;
    background:seagreen;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 1rem 1rem;
}
.card{
    background-color: seashell;

    & .card__img{
        height: 10rem;
    }
}
@media (min-width: 546px){
    .grid-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}